body {
    background-color: #10141b;
    position: relative;
    display: flex;
    flex-direction: column; /* Coloca elementos em coluna */
    align-items: center; /* Centraliza elementos horizontalmente */
    justify-content: space-between; /* Centraliza elementos verticalmente */
    overflow-y: scroll;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    position: relative;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    background-color: rgb(0, 0, 0);
}

.hogwarts {
    font-size: 2rem;
    color: #fff;
    user-select: none;
    position: relative;
    top: 0;
}

.navigation a {
    position: relative;
    font-size: 1.1rem;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2rem;
}

.navigation a::after {
    content: '';
    left: 0;
    bottom: -0.375rem;
    position: absolute;
    width: 100%;
    height: 0.1875rem;
    background: #ffffff;
    border-radius: 0.3125rem;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.5s;
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

h1 {
    color: rgb(255, 255, 255);
    font-family: 'Times New Roman';
    font-size: 3rem; 
    margin-bottom: 0.625rem;
    text-align: center;
    position: relative;
    top: 20vh;
    display: flex;
    justify-content: space-between;
}

h2 {
    color: rgb(255, 255, 255);
    font-family: 'Times New Roman';
    font-style: italic;
    font-size: 2.25rem;
    margin-bottom: 0.625rem; /* Espaço entre cada elemento */
    text-align: center; /* Centraliza o texto */
    position: relative;
    top: 20vh;
}

.painel a {
    color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 1.25rem;
    margin-bottom: 0.625rem; /* Espaço entre cada elemento */
    position: relative;
    right: 15%;
    top: 29vh;
}

.painel b {
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    margin-bottom: 0.625rem; /* Espaço entre cada elemento */
    text-align: center; /* Centraliza o texto */
    position: relative;
    top: 69vh;
    right: 42%;
}

.painel c {
    color: rgb(255, 255, 255);
    font-family: 'Times New Roman';
    font-style: italic;
    font-size: 1.25rem;
    margin-bottom: 0.625rem; /* Espaço entre cada elemento */
    text-align: center; /* Centraliza o texto */
    position: relative;
    left: 40%;
    top: 29vh;
}

.painel d {
    color: rgb(255, 255, 255);
    font-family: 'Times New Roman';
    font-style: italic;
    font-size: 1.25rem;
    margin-bottom: 0; /* Espaço entre cada elemento */
    text-align: center; /* Centraliza o texto */
    position: relative;
    left: 19%;
    top: 69vh;
}

.imagem1 {
    margin-bottom: 0.625rem; /* Espaço entre cada elemento */
    position: relative;
    left: 15%;
    top: 30vh; 
    height: 30vh;
    width: 30vw;
    filter:opacity(50%);
    transition: transform 1s;
    transform: translateX(0) scale(0.8);
}

.imagem1:hover,
.imagem1:focus {

    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
    filter: none;
    transition: transform 1s;
    transform: translateX(10px) scale(1.0);
  
}

.imagem2 {
    margin-bottom: 0.625rem; /* Espaço entre cada elemento */
    position: relative;
    top: 70vh;
    right: 15.5%;
    height: 30vh;
    width: 30vw;
    filter:opacity(50%);
    transition: transform 1s;
    transform: translateX(0) scale(0.8);
}

.imagem2:hover,
.imagem2:focus {
  
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
    filter: none;
    transform: translateX(10px) scale(1.0);
  
}

.imagem3 {
    margin-bottom: 0.625rem; /* Espaço entre cada elemento */
    position: relative;
    left: -3.5%;
    top: 30vh;
    height: 30vh;
    width: 30vw;
    filter:opacity(50%);
    transition: transform 1s;
    transform: translateX(0) scale(0.8);
}

.imagem3:hover,
.imagem3:focus {
  
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
    filter: none;
    transform: translateX(10px) scale(1.0);
  
}

.imagem4 {
    margin-bottom: 0.625rem; /* Espaço entre cada elemento */
    position: relative;
    left: 58%;
    top: 38vh;
    height: 30vh;
    width: 30vw;
    filter:opacity(50%);
    transition: transform 1s;
    transform: translateX(0) scale(0.8);
}

.imagem4:hover,
.imagem4:focus {
  
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
    filter: none;
    transform: translateX(10px) scale(1.0);
  
}

.gif {

    width:25vh;
	height:10vw;
    position:relative;
    left: 300%;
    bottom: 65vh;

}

.rodape{
    position: sticky;
    position:relative;
    left: 10%;
    top: 27vh;
    color:#10141b;
}
